image: dmattli/exopticon-build:devel

# Set any required environment variables here
variables:
  RUST_BACKTRACE: FULL
  GIT_SUBMODULE_STRATEGY: recursive
  CARGO_HOME: $CI_PROJECT_DIR/.cargo
stages:
  - version
  - build
  - image
  - release
  - deploy

version:
  stage: version
  image: registry.gitlab.com/juhani/go-semrel-gitlab:v0.19.0
  script:
    - release next-version --bump-patch > .next-version
  artifacts:
    paths:
    - .next-version
  except:
  - tags

pre-release:
  stage: build
  script:
    - cargo make ci-flow
  cache:
    key: one-key-to-rule-them-all
    paths:
      - .cargo
      - target
  only:
  - master
  except:
  - master

build-image:
  stage: image
  image: docker:stable
  variables:
    DOCKER_DRIVER: overlay2
  services:
  - docker:dind
  script:
  - rm -f build_info
  - echo "RELEASE_URL=https://gitlab.com/api/v4/projects/$CI_PROJECT_ID/jobs/$CI_JOB_ID/artifacts/release" > build_info
  - echo "RELEASE_DESC=\"$(uname -mo) binary\"" >> build_info
  - echo "RELEASE_SHA=$CI_COMMIT_SHA" >> build_info
  - echo "RELEASE_VERSION=$(cat .next-version)" >> build_info
  - . build_info
  - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE:v$RELEASE_VERSION .
  - docker build -t $CI_REGISTRY_IMAGE:latest .
  - docker push $CI_REGISTRY_IMAGE:v$RELEASE_VERSION
  - docker push $CI_REGISTRY_IMAGE:latest

  artifacts:
     paths:
     - build_info
  only:
  - master

release:
  stage: release
  image: registry.gitlab.com/juhani/go-semrel-gitlab:v0.19.0
  script:
  - rm -f release_info
  - mv build_info release_info
  - . release_info

  - release -v
  - release --bump-patch changelog
  - release --bump-patch commit-and-tag CHANGELOG.md release_info
  - release --bump-patch --ci-commit-tag v$RELEASE_VERSION add-download-link -n release -u $RELEASE_URL -d "$RELEASE_DESC"
  only:
  - master

deploy:
  stage: deploy
  image: kroniak/ssh-client
  script:
    - echo "RELEASE_VERSION=0.3.0" >> build_info
    - . build_info
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - printf "%s" "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
    - printf "%s" "$SSH_DEPLOYMENT_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa ~/.ssh/known_hosts
    - ssh $DEPLOY_HOST "docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY"
    - ssh $DEPLOY_HOST "docker stop exopticon-prod" || true
    - ssh $DEPLOY_HOST "docker pull $CI_REGISTRY_IMAGE:v$RELEASE_VERSION"
    - ssh $DEPLOY_HOST "find /dev/ -name nvidia* -exec printf '--device={} ' \;" >> cuda_args
    - ssh $DEPLOY_HOST "find /usr/lib/x86_64-linux-gnu/ \( -name libcuda* -o -name libnvidia* \) -maxdepth 1 -not -type d -exec printf '-v {}:{}:ro ' \;" >> cuda_args
    - ssh $DEPLOY_HOST docker run --name exopticon-prod $(cat cuda_args) -v "/var/run/postgresql:/var/run/postgresql" -v "/video:/video" -p 3002:3000 $CI_REGISTRY_IMAGE:v$RELEASE_VERSION
