

[workspace]
members = [ "exserial", "onvif", "exopticon", "workers" ]

[profile.dev.package."*"]
opt-level = 2

[profile.dev]
opt-level=0
debug = true
overflow-checks = true

[profile.release]
#lto = true
#codegen-units = 1
opt-level = 3
panic = "abort"
overflow-checks = true
