.camera-player-view {
  width: 100%;
  height: 100%;
  position: relative;
}

.camera-player-view > .wrapper {
  height: 100%;
}

.camera-player-view .frame {
  height: calc(100% - 19px - 25px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera-player-view .frame > img {
  max-width: 100%;
  max-height: 100%;
}

.camera-player-view .content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.camera-player-view .wrapper {
  width: 100%;
  height: 100%;
}

.camera-player-view .tool-wrapper {
  display: flex;
}

.camera-player-view .tool-wrapper .overlay-button  {
  height: 25px;
  font-size: 15px;
  padding: 0 8px 0 8px;
  user-select: none;
}

.camera-player-view > .wrapper > .control-bar {
  height: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .camera-player-view > .wrapper > .control-bar > .begin-time {
    display: none;
  }
}

.camera-player-view > .wrapper > .control-bar .overlay-button {
  padding-top: 0 !important;
  padding-bottom: 11px !important;
  height: 20px;
  font-size: 15px;
  user-select: none;
}

.camera-player-view > .wrapper > .control-bar > .time-label {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
