.progress-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25px;
  width: 100%;
}

.progress-bar {
  display: flex;
  width: 100%;
  height: 25px;
  border: 1px solid green;
  position: relative;
}

.progress-bar > .progress-marker {
  position: absolute;
  height: 30px;
  width: 5px;
  top: 0;
  left: 0;
  margin-top: -5px;
  margin-left: -2.5px;
  background-color: red;
  border-radius: 3px;
}

.progress-element {
  display: inline-block;
  height: 100%;
  background-color: green;
}

.progress-element.no-video {
  background-color: black;
}

.progress-wrapper .hover-time {
  position: fixed;
  z-index: 999;
  background: black;
  padding: 5px;
  border-radius: 10px;
}
