
:host {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: minmax(0, 1fr) 20px 30px;
}

.button {
  cursor: pointer;
}

.control-bar {
  display: grid;
  grid-template-columns: 300px 30px 30px;
  grid-template-rows: 1fr;
}
.progress-bar {
  height: 20px;
  position: relative;
}

canvas.observations {
  height: 20px;
  position: absolute;
  top: 0;
}

canvas.video-availability {
  height: 20px;
  position: absolute;
  top: 0;
}

.video-view {
  width: 100%;
}

canvas {
  width: 100%;
  height: 20px;
}

