div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}
span {
  background: black;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}
