<div class="panel">
  <div class="wrapper"
       *ngFor="let camera of cameras; let i = index"
       (mouseover)="selectCameraView(i); $event.stopPropagation();"
       (mouseleave)="deselectCameraview; $event.stopPropagation();"
       (touchstart)="onTouchStart(i); $event.stopPropagation();">
    <div class="camera-width"></div>
    <div class="content">
      <app-camera-view [camera]="camera"
                       [selected]="selectedCameraId === i"
                       [videoService]="videoService">
      </app-camera-view>
    </div>
  </div>
</div>
