div.panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

div.panel > div.wrapper {
  position: relative;
  width: 100%;
}

div.panel > div.wrapper.background {
  display: none;
}

div.panel > div.wrapper > div.camera-width {
  /* Enforce 16:9 aspect ratio */
  padding-top: 56.25%;
}

div.panel  div.wrapper > div.content {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

@media screen and (min-width: 767px) {
  .camera-panel .wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 980px) {
  .camera-panel .wrapper {
    width: 50%;
  }
}
