/* Camera Snapshot Styling */

.top-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-bottom-style: solid;

}
.top-wrapper > h2 {
  display: inline;
  margin-right: 10px;
}

.snapshot-button-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 10px;
  padding-bottom: 10px;
}

.snapshot-button-wrapper > a {
  margin-right: 10px;
}

.snapshot-button-wrapper a:first-child {
  margin-right: 25px;
}

.snapshot-list {
  display: flex;
  flex-wrap: wrap;
}

.snapshot-list > .snapshot {
  position: relative;
  padding: 5px;
}

.snapshot-list > .snapshot > a > img {
  width: 100%;
}

@media only screen and (max-width : 480px) {
  .snapshot-list > .snapshot {
    width: 100%;
  }
}

@media only screen and (min-width : 480px) {
  .snapshot-list > .snapshot {
    width: 100%;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .snapshot-list > .snapshot {
    width: 50%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .snapshot-list > .snapshot {
    width: 33%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .snapshot-list > .snapshot {
    width: 25%;
  }
}

.top-snapshot-nav {
  margin-top: 10px;
  padding-top: 10px;
}

@media only screen and (max-width: 435px) {
  .top-wrapper {
    flex-direction: column;
    justify-content: center;
  }

  .top-wrapper > h2 {
    text-align: center;
  }

  .top-snapshot-nav {
    margin-bottom: 2px;
  }

  .snapshot-button-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .snapshot-button-wrapper > a {
    text-align: center;
    padding-right: 0;
    margin-right: 0;
    width: 300px;
    margin-bottom: 10px;
  }
  .snapshot-button-wrapper a:first-child {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .snapshot-list > .snapshot {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-top: 10px;
  }

}

