:host {
  height: 100%;
  display: grid;
  grid-row: 2;
  grid-template-rows: 36px minmax(0, 1fr);
}

.top-menu {
  font-weight: bold;
  height: 36px;
}

div.main-content {

}

div.logo {
  display: flex;
}

div.logo img {
  height: 34px;
  width: auto;
}
