.camera {
    position: relative; /* Make a positioned element so it will contain ptz-controls */
    width: 100%;
    height: 100%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.camera img {
    display: block;
    width: 100%;
    height: 100%;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    object-fit: contain;
}
