.camera-panel {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.camera-panel .wrapper {
    position: relative;
    width: 100%;
}

.camera-panel .wrapper.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw !important;
  max-height: 100vh !important;
  background-color: black;
  overflow-y: hidden;
}

.camera-panel .wrapper.background {
  display: none;
}

.camera-panel .camera-width {
    /* Enforce 16:9 aspect ratio */
    padding-top: 56.25%;
}

.camera-panel .content {
   position: absolute;
   top: 0; left: 0; bottom: 0; right: 0;
}

.camera-panel .wrapper {
  width: 100%;
}

@media screen and (min-width: 767px) {
    .camera-panel .wrapper {
      width: 100%;
    }
}

@media screen and (min-width: 980px) {
    .camera-panel .wrapper {
      width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .camera-panel .wrapper {
      width: 25%;
    }
}

.camera-panel.panel-col-1 div.wrapper {
  width: 100%;
}

.camera-panel.panel-col-2 div.wrapper {
  width: 50%;
}

.camera-panel.panel-col-3 div.wrapper {
  width: 33%;
}

.camera-panel.panel-col-4 div.wrapper {
  width: 25%;
}
