

.camera-player-view {
  width: 100%;
  position: relative;
}

.camera-player-view .frame {
  height: 100%;
  width: 100%;

}

.camera-player-view .frame > img {
  width: 100%;
  height: 100%;
}

.camera-player-view .player-width {
  padding-top: 56.25%;
}

.camera-player-view .content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.camera-player-view .wrapper {
  width: 100%;
  height: 100%;
}
