button, .button {
  color: #ffb000;
  background: black;
  opacity: 0.8;
  filter: alpha(opacity=80);
  border: 1px solid #9b6b00;
  border-radius: 10px;
  font-size: 25px;

  display: inline-block;

  text-decoration: none;
  verical-align: middle;
  white-space: nowrap;
  text-align: center;
  user-select: none;
  padding: 0.376rem 0.76rem;
  border-radius: 0.25rem;
}
