.status-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5px red solid;
}

.status-overlay .status-message {
    color: orange;
    background: black;
    padding: 25px;
    border: 1px solid orange;
    border-radius: 10px;
}
