.status-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5px red solid;
    background: rgba(0, 0, 0, 0.5);
}

.status-overlay .status-message {
  color: rgb(0, 255, 0);
    background: black;
    padding: 25px;
    border: 1px solid rgb(0, 136, 0);
    border-radius: 10px;
}
