<h2>Show File</h2>

<ul>

  <li>
    <strong>Id:</strong>
    <span id="fileId"><%= @file.id %></span>
  </li>
  <li>
    <strong>Filename:</strong>
    <%= @file.filename %>
  </li>

  <li>
    <strong>Size:</strong>
    <%= @file.size %> (<%= @file.size / 1024 / 1024 %> MiB)
  </li>

</ul>

<span><%= link "Edit", to: file_path(@conn, :edit, @file) %></span>
<span><%= link "Back", to: file_path(@conn, :index) %></span>
<div class="video"></div>
