/* This file is for your main application css. */

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, main, .container-fluid {
    height: 100%;
}

main {
    height: calc(100% - 36px);
}
