/* This file is for your main application css. */

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, .container-fluid {
    height: 100%;
    width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  border: 1px solid;
}

.login-form h1 {
  text-align: center;
}

.login-form button {
  margin-top: 15px;
}

.login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form form input {
  margin: 15px 0 0 0;
  max-width: 200px;
  font-size: 20pt;
}

#main {
  width: 100%;
}

.hamburger-menu-button {
  background-color: orange;
  color: black;
  border-radius: 3px;
  font-size: 33px;
  height: 36px;
  cursor: pointer;
  width: 36px;
  text-align: center;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
user-select: none;
}

#side-menu-container.shown + .container-fluid .header .hamburger-menu-button {
  display: none;
}

.content-wrapper {
  display: flex;
  min-height: calc(100vh - 55px);
}

#side-menu-container {
  display: none;
  min-width: 150px;
  padding-left: 10px;
  padding-right: 10px;
  border-right: solid 1px;
  background: #111111;
}

@media (max-width: 400px) {
  #side-menu-container {
    width: 100%;
  }

  #side-menu-container.shown + #main {
    display: none;
  }
}

#side-menu-container.shown {
  display: block;
}

#side-menu-container .hamburger-menu-button {
  position: absolute;
  left: 0;
  line-height: 114%;
}

#side-menu-container .current-user-list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin-top: 40px;
}

#side-menu-container .current-user-list span {
  margin-right: 10px;

}
#side-menu-container .view-controls {
  display: none;
}

body[data-js-view-name="PageIndexView"] #side-menu-container div.view-controls.page-index-view {
  display: block;
}

#side-menu-container .navigation-list {
  list-style: none;
  padding: 0;
  font-size: 26px;
  text-decoration: none;
}

#side-menu-container .navigation-list li {
  border-bottom: solid 1px;
  text-align: center;
}

#side-menu-container .navigation-list li a {
  text-decoration: none;
}

#side-menu-container li a {
  color: orange;
}

#side-menu-container a:visited {
  color: orange;
  text-decoration: none;
}
