
html, body, main, #allCameras, .container-fluid {
    width: 100%;
}

#allCameras {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

/*
   Default layout has each camera at 100% of viewport width.
   This will be used for small devices.
 */
.camera {
    width: calc(100% - 1px);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 1px;
}

.camera:hover {
    border: 1px solid orange;
    margin: 0;
}

.camera img {
    width: 100%;
}

/* Small devices, Tablets */
@media only screen and (min-width: 768px) {
    .camera {
        width: calc(50% - 2px);
    }
}

@media only screen and (min-width: 1200px) {
    .camera {
        width: calc(33% - 2px);
    }
}

