}

#allCameras {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

/*
   Default layout has each camera at 100% of viewport width.
   This will be used for small devices.
 */

.ptz-controls {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.ptz:hover div.ptz-controls {
    display: block;
}

.ptz-left, .ptz-up, .ptz-right, .ptz-down {
    width: 40px;
    height: 40px;
    background-color: orange;
}

.ptz-controls div:active {
    background-color: green;
}

.ptz-left {
    float: left;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    margin-left: 10px;
}

.ptz-right {
    position: absolute;
    top: 50%;
    left: calc(100% - 50px);
    margin-top: -20px;
}

.ptz-up {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

.ptz-down {
    position: absolute;
    bottom: 0;
    left: calc(50% - 20px);
    margin-bottom: 10px;
}


