/* Another good color #6fc0ba */

.breadcrumb {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Implement background stripes */
@media (min-width: 320px) {
  .breadcrumb {
    background-image: repeating-linear-gradient(130deg, black, black 15px, #ffb000 15px, #ffb000 30px);
  }
}

.breadcrumb.text-right {
}

.breadcrumb > .active {
  color: rgb(0, 255, 0);
}

.breadcrumb > li {
  display: inline-block;

}

.breadcrumb > li {
  color: #ffb000;
  background-color: black;
  border-radius: 4px;
  padding: 3px;
  margin-right: 1px;
}

.breadcrumb a {
  color: #ffb000;
  text-decoration: none;
}

body, form, ul, table {
  margin: 0px;
  background-color: black;
  color: #ffb000;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

.container-fluid {
  padding: 0;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #ffb000;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  height: 36px;
  background-color: rgb(0, 68, 0);
}

.header span.logo {
  height: 37px;
  background-color: #ffb000;
}

.header span.logo img {
  height: 36px;
  object-fit: contain;
  padding-right: 2px;
  padding-left: 2px;
}

.header ol {
  height: 36px;
  flex-grow: 1;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

/* Supporting marketing content */
.marketing {
  margin: 35px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {

  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.alert {
  background-color: #555;
}

