.breadcrumb {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
}

/* Implement background stripes */
@media (min-width: 324px) {
    .breadcrumb {
        background-image: repeating-linear-gradient(90deg, black, black 15px, orange 15px, orange 30px);
    }
}

.breadcrumb.text-right {
    justify-content: flex-end;
    padding-right: 10px;
}

.breadcrumb > .active {
    color: #777;
}

.breadcrumb > li {
    display: inline-block;

}

.breadcrumb > li {
    color: black;
    background-color: #777;
    border-radius: 4px;
    padding: 3px;
    margin-right: 1px;
}

.breadcrumb a {
    color: black;
    text-decoration: none;
}

body, form, ul, table {
    margin: 0px;
    background-color: black;
    color: orange;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

.container-fluid {
    padding: 0;
}

/* Custom page header */
.header {
    border-bottom: 1px solid orange;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    height: 36px;
    background-color: orange;
}

.header span.logo img {
    height: 36px;
    padding-right: 4px;
}

.header ol {
    height: 36px;
    flex-grow: 1;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

/* Supporting marketing content */
.marketing {
  margin: 35px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {

  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.alert {
    background-color: #555;
}
