<h2>Events</h2>
<div class="events_wrapper">
  <div *ngFor="let event of events$ | async; let index = index" class="event">
    <div class="info">
      {{ event.tag }}
      {{ event.beginTime }}
      {{ event.endTime }}
    </div>
    <img
      *ngIf="selectedEvent != index"
      src="/v1/events/{{ event.id }}/snapshot"
    />
    <div
      class="playbutton"
      *ngIf="selectedEvent != index"
      (click)="onEventClick(index)"
    >
      &#9654;
    </div>
    <video
      controls
      autoplay
      loop
      *ngIf="selectedEvent == index && event.observations.length > 0"
    >
      <source
        src="/v1/observations/{{ event.observations[0] }}/clip#t=-5"
        type="video/mp4"
      />
    </video>
  </div>
</div>
